button{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.rock:hover{
    background-color: grey;
}

.paper:hover{
    background-color: whitesmoke;
}

.scissors:hover{
    background-color: gold;
}

.container{
    padding: 0;
    margin: 0;
    font-size: 18px;
    padding-top: 12px;
}